/* Import compiled Bootstrap CSS for styling */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Import Bootstrap Icons CSS for icon fonts */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Poppins", serif;
}

.custom-gradient {
  background: linear-gradient(90deg, #2563eb, #36a7fc);
  background-size: cover;
  background-position: center;
}

.bg-custom {
  background: url("../img/background_shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bg-custom2 {
  background: url("../img/about/Vector1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
