/* Import compiled Bootstrap CSS for styling */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Import Bootstrap Icons CSS for icon fonts */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Poppins", serif;
}

.custom-gradient {
  background: linear-gradient(90deg, #2563eb, #36a7fc);
  background-size: cover;
  background-position: center;
}

.bg-custom {
  background: url("../img/background_shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bg-custom2 {
  background: url("../img/about/Vector1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bg-login {
  background: url("../img/loginPage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* icons style */
.google-icon {
  background: linear-gradient(to right, #4285f4, #ea4335, #fbbc05, #34a853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram-icon {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
