<nav class="navbar navbar-expand-lg text-dark-mode">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="img/logo.png"
        alt="SpeakUp logo"
        height="32"
        width="32"
        class="me-2"
      />
      <span class="text-primary fs-5 fw-semibold">Speak Up</span>
    </a>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div
        class="d-flex flex-grow-1 col-md-10 mx-auto justify-content-end justify-content-sm-center text-center"
      >
        <ul class="navbar-nav text-center mx-auto">
          <li class="nav-item mx-3">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a href="course.html" class="nav-link">Courses</a>
          </li>
          <li class="nav-item mx-3">
            <a href="contact.html" class="nav-link"
              >Contact Us</a
            >
          </li>
          <li class="nav-item mx-3">
            <a href="about.html" class="nav-link">About Us</a>
          </li>
        </ul>
      </div>

      
        <!-- Show either 'Log In' or Username based on session -->
        <a href="sign-up.html" class="btn btn-primary" id="authBtn">Sign Up</a>
        <span id="userName" class="d-none"></span>
        <button class="btn" id="toggleThemeBtn">
          <i class="bi bi-moon-stars" id="theme-icon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>